# FastAPI y sus dependencias
fastapi==0.115.6
uvicorn[standard]==0.23.1

# Pydantic y configuración
pydantic==2.10.4
pydantic-settings==2.7.1

# PostgreSQL y SQLAlchemy
asyncpg==0.30.0
SQLAlchemy[asyncio]==2.0.36

# Utilidades adicionales
python-dotenv==1.0.1
colorama==0.4.6
